body{
  background-color: #f4f4f4;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height:1.6em;
  margin:0;
}

img{
	max-width: 100%;
}
.group {
	width: 100%!important;
}
.container{
   width: 90%;
   margin: auto;


}
.container::after{
  display:table;
  content: "";
  clear: both;
}
.services,#sidebar{
  float: left;
  margin: 1%;
  width: 30%;
}
.about{
  float:left;
  background:white;
  text-align: center;
  color:black;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;


}
.services{
  background:white;
  text-align: center;
  color:black;
  width:100%;
  padding: 5px;

  }
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.contact{
  color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

header{
  text-align: left;
  background-color:white;
  margin: 0;
  padding-left: 20px;


}
#navbar{
  background-color: red;
  text-align: center;
  color: #fff;
  padding:10px;
}

#navbar ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

#navbar li{
  display: inline-block;
  margin-right: 5px;
  padding: 5px 0;
  margin-left: 5px;
}

#navbar a{
  color: #fff;
  text-decoration: inherit;
  font-size: 18px;

}

#showcase{
  margin-bottom:30px;
  text-align:center;;
}

#showcase h1{
  color: #f4f4f4;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main{
  float: left;
  width: 70px;
  padding:0 30px;
  box-sizing: border-box;
}
  .donate{

    float: right;
    background:white;
    text-align: center;
    color: black;
    padding-top: 5px;
	  padding-left: 5px;
    padding-right: 5px;


  }

  .donate-image{
    padding-top: 15px;
  }
  .donate-button1{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
    font-size: 16px;
    cursor: pointer;
}
.donate-button2{
  font-family:Arial, Helvetica, sans-serif;
  color: red;
  text-align: center;
  text-decoration: none;
  display:inline-flex;
  font-size: 16px;
  cursor: pointer;
  margin:2px 0 15px 0;
}

.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.Scholarships{
  float: right;
}



*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



a {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
h1{  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;

}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;

}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: black;
}

.service1:hover {
  border: 2px solid red;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: black;

}

.service2:hover {
  border: 2px solid red;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: black;
}

.service3:hover {
  border: 2px solid red;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media all and (max-width:900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}


footer{
	background: red;
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;

}
footer p{
	padding: 5px;
	color:white;
	margin-top: .5px;



}
.follow{
  display:table-row-group;
  text-align: center;

}
.fa {
  padding:10px;
  font-size: 5x;
  text-decoration: none;
  margin: 10px 4px;
  border-radius: 100%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: red;
  color: white;
}

.fa-twitter {
  background: red;
  color: white;
}

.fa-google {
  background: red;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-instagram {
  background: red;
  color: white;
}
.sectionTitle{
  width:300px
  position: relative;
  padding: 10px 0;}
.section img{
	width: 100%;
}

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }


  @media(max-width:600px){
    #main{
      width: 100%;
      float: none;
    }
    #sidebar, .box-1, .box-2{
      width: 100%;
      float: none;
    }
	  .box-2{
		  margin-bottom: 10px;
	  }
  }
