body{
  background-color: #f4f4f4;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height:1.6em;
  margin:0;
}
img{
	max-width: 100%;
}
.group {
	width: 100%!important;
}
.container{
   width: 90%;
   margin: auto;


}
.container::after{
  display:table;
  content: "";
  clear: both;
}
.services,#sidebar{
  float: left;
  margin: 1%;
  width: 30%;
}
.about{
  float:left;
  background:white;
  text-align: center;
  color:black;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;


}
.services{
  float:left;
  background:white;
  text-align: center;
  color:black;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
{font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.contact{
  color: black;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 5px;
  padding: 5px;
}

header{
  background-color:white;
  margin: 0;
  padding-left: 20px;


}
#navbar{
  background-color: red;
  text-align: center;
  color: #fff;
  padding:10px;
}

#navbar ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

#navbar li{
  display: inline-block;
  margin-right: 5px;
  padding: 5px 0;
  margin-left: 5px;
}

#navbar a{
  color: #fff;
  text-decoration: inherit;
  font-size: 18px;

}

#showcase{
  margin-bottom:30px;
  text-align:center;
}

#showcase h1{
  color: #f4f4f4;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main{
  float: left;
  width: 70px;
  padding:0 30px;
  box-sizing: border-box;
}
  .donate{

    float: right;
    background:white;
    text-align: center;
    color: black;
    padding-top: 5px;
	  padding-left: 5px;
    padding-right: 5px;


  }
  .services{
    width:100%;
    padding: 5px;

  }
  .donate-image{
    padding-top: 15px;
  }
  .donate-button1{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
    font-size: 16px;
    cursor: pointer;
}
.donate-button2{
  font-family:Arial, Helvetica, sans-serif;
  color: red;
  text-align: center;
  text-decoration: none;
  display:inline-flex;
  font-size: 16px;
  cursor: pointer;
  margin:2px 0 15px 0;
}

footer{
	background: red;
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;

}
footer p{
	padding: 5px;
	color:white;
	margin-top: .5px;



}
.fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-youtube {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

  @media(max-width:600px){
    #main{
      width: 100%;
      float: none;
    }
    #sidebar, .box-1, .box-2{
      width: 100%;
      float: none;
    }
	  .box-2{
		  margin-bottom: 10px;
	  }
  }
